
@import url('./fonts.css');

*{
    margin:0%;
}

body{
    margin:0%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header{
    font-family: 'Hikasami' !important;
    font-weight: 500;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height:70px;
    margin: 0;
}

ul{
    width: 90vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin:0%;
    padding: 0%;
    gap:5%;
}

.hero{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 95vh;
}

.hero-inside{
    position: relative;
    color: #FBB03B;
    background-color: black;
    height: 90%;
    width:95%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-inside .title{
    position: absolute;
    font-family: 'Seenonim';
    font-size: clamp(0.1rem,6vw + 2rem,7.5rem);
    padding-bottom: 1em;
    z-index: 1;
}

.me{
    height:50vh;
    position: absolute;
    align-self: flex-end;
    z-index: 2;
}

.hero-details{
    font-family: 'Hikasami';
    letter-spacing: 0.02em;
    color:#FBB03B;
    position: absolute;
    z-index: 3;
    top:100%;
    transform: translate(0%,-120%);
    width:98%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

.hero-details img{
    height: 1.5rem;
    width: auto;
}

.hero-contact{
    line-height: 1.9em;
    font-size: 1rem;
}

.hero-role{
    font-size: 2.5rem;
    text-align: right;
    line-height: 1.1em;
}
.circles{
    z-index: 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #CB1D23;
}

.hero-inside .circles{
    position: absolute;
    top:100%;
    left:50%;
    transform: translate(-50%,-50%);
    height:60vh;
    box-shadow:
        0 0 0 6vw #A20A10,
        0 0 0 14vw #7C0207,
        0 0 0 21vw #5C0004;
}

.aboutme{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}

.aboutme .circles{
    position: absolute;
    top:50%;
    left:0%;
    transform: translate(-50%,-50%);
    height:35vh;
    box-shadow:
        0 0 0 3vw #A20A10,
        0 0 0 6vw #7C0207,
        0 0 0 9vw #5C0004;
}

.maintext{
    text-indent: 18vw;
    font-family: 'Seenonim';
    z-index: 1;
    text-align: justify;
    font-size: clamp(0.1rem,6vw + 2rem,2em);
    max-width:60vw;
    color: white;
    margin-bottom: 20vh;
    margin-right: 12vw;
    margin-left: auto;
}

.detailed{
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'Hikasami';
    text-align: justify;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap:40px;
    margin: 12em auto auto 42vw;
}

.high{
    color:#FBB03B
}

.maintext::first-line{
    text-align: right;
}

.works{
    height: 110vh;
}

/*
trying to use this when scroll feature is introduced
.image-container{
    width: 100vw;
}
*/

.images{
    background-color: white;
    height: 55vh;
    display: flex;
    justify-content: space space-evenly;
    align-items: center;
    padding-left: 50px;
    overflow: hidden;
    gap: 35px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Hikasami';
    font-size: 0.8em;
}

.item img{
    height: 35vh;
}

.item h3{
    padding: 20px 0px 0px 0px;
    font-weight: 600;
    font-size: 1.2em;
}

.work-description{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
}

.work-description .title{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Seenonim';
    color: #FBB03B;
    font-size: clamp(0.1rem,6vw + 2rem,4.5em);
    margin: 30px 0 0 0;
    padding: 0 30px;
    overflow: hidden;
}

.work-description .title.inverted{
    flex-direction: row;
}

.work-description img{
    height: 0.7em;
    margin: 25px;
}

.work-description .title.inverted img{
    transform: rotate(180deg);
}

.work-description .work-content{
    width: 35vw;
    align-self: flex-end;
    margin: 30px;
    text-align: justify;
    font-family: "hikasami";
    color: white;
}

.work-description .work-content.inverted{
    align-self: flex-start;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: stretch;
    height:35vh;
    background-color: white;
}

.contact{
    height: 33vh;
    width: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.foot.circles{
    position: absolute;
    top:50%;
    left: auto;
    right: 0;
    transform: translate(50%,-50%);
    height:25vh;
    box-shadow:
        0 0 0 3vw #A20A10,
        0 0 0 6vw #7C0207,
        0 0 0 9vw #5C0004;
}